$font-family: "Centra";
$font-path-bold: "./assets/fonts/CentraNo2-Bold.ttf";
$font-path-medium: "./assets/fonts/CentraNo2-Medium.ttf";
$font-path-book: "./assets/fonts/CentraNo2-Book.ttf";
$background-image: "./assets/images/background.jpg";
$background-color: #121212;