@import "config";
@import "mixins";

/* Custom Fonts */
@font-face {
  font-family: $font-family;
  src: url($font-path-bold);
  font-weight: $font-weight-bold;
}

@font-face {
  font-family: $font-family;
  src: url($font-path-medium);
  font-weight: $font-weight-medium;
}

@font-face {
  font-family: $font-family;
  src: url($font-path-book);
  font-weight: $font-weight-book;
}

/* Default CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @include smooth-scroll;
}

body {
  font-weight: $font-weight-book;
  overflow-x: hidden;
  position: relative;
  @include background-properties;
  color: $white !important;
  font-family: $font-family, sans-serif !important;
  /* scrollbar-width: none;  */

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
    line-height: normal;
  }

  h1 {
    font-size: $font-size-large !important;
    font-weight: $font-weight-bold;
    letter-spacing: $letter-spacing-default;
  }

  p,
  a,
  li,
  button,
  ul {
    margin: 0;
    padding: 0;
    line-height: normal;
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }

  img {
    width: 100%;
    height: auto;
  }

  button {
    border: 0;
    background-color: transparent;
  }

  input:focus,
  textarea:focus,
  select:focus {
    outline: none;
  }

  @media (min-width: 1700px) {
    main .container {
      @include container-properties;
    }
  }

  p.success {
    color: $green;
  }

  p.danger {
    color: $red;
  }

  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}

/* Navbar CSS */
nav.navbar {
  @include nav-properties;

  &.scrolled {
    padding: 0px 0;
    background-color: $background-color;
  }

  a.navbar-brand {
    width: 9%;
  }

  .navbar-nav {
    .nav-link.navbar-link {
      @include nav-link-properties;
    }

    .nav-link.active {
      font-size: 18px;
      color: $background-color !important;
    }
  }

  .navbar-toggler {
    @include nav-toggler-properties;
  }
}

span.navbar-text {
  display: flex;
  align-items: center;
}

/* Social Icons CSS */
.social-icon {
  @include social-icon-properties;
}

/* Banner CSS */
.banner {
  margin-top: 0;
  text-align: center;
  padding: 177px 0 100px 0;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (max-width: 991px) {
    padding: 260px 0 100px 0;
  }

  .tagline {
    font-weight: $font-weight-bold;
    letter-spacing: 0.8px;
    padding: 9px 34px;
    background: $tagline-background;
    border: $border-light;
    font-size: 20px;
    margin-bottom: 1.5em;
    display: inline-block;
  }

  .intro {
    margin-left: 1em;
  }

  h1 {
    font-size: 65px;
    font-weight: $font-weight-bold;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
  }

  p {
    color: #b8b8b8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
  }

  a {
    color: $white;
    font-weight: $font-weight-bold;
    letter-spacing: 0.8px;
  }

  button {
    font-weight: $font-weight-bold;
    color: $white;
    border: $border-light;
    padding: 9px 34px;
    font-size: 18px;
    margin-left: 18px;
    position: relative;
    background-color: transparent;
    transition: 0.3s ease-in-out;

    span {
      z-index: 1;
    }

    &::before {
      content: "";
      width: 0%;
      height: 100%;
      position: absolute;
      background-color: $white;
      left: 0;
      top: 0;
      z-index: -1;
      transition: 0.3s ease-in-out;
    }

    &:hover {
      color: $background-color;

      &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
      }
    }
  }

  img {
    width: 77%;
    height: auto;
    border-radius: 2em;
    margin-top: 1em;
  }
}

/* Skills CSS */
.skill {
  margin-top: 2.5em;
  position: relative;

  h2 {
    font-size: 45px;
    font-weight: $font-weight-bold;
  }

  p {
    color: #b8b8b8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px 0 33px 0;
  }

  h4 {
    font-size: 25px;
    letter-spacing: 0.8px;
    line-height: 1.1em;
    margin: 14px 0 44px 0;
  }

  .skill-bx {
    background: #151515;
    border-radius: 64px;
    text-align: center;
    padding: 60px 50px;
    margin-top: -60px;
  }

  .skill-slider {
    width: 80%;
    margin: 0 auto;
    position: relative;

    .item img {
      width: 50%;
      margin: 0 auto 15px auto;
    }
  }
}

/* Projects CSS */
.projects {
  margin-top: 3.5em;
  position: relative;

  h2 {
    font-size: 45px;
    font-weight: $font-weight-bold;
    text-align: center;
    margin-bottom: 0.7em;
  }

  h3 {
    font-size: 30px;
    text-align: center;
    letter-spacing: 0.8px;
  }

  p {
    color: #b8b8b8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px auto 30px auto;
    text-align: center;
    width: 56%;
  }
}

/* Projects Tabs CSS */
.nav.nav-pills {
  width: 72%;
  margin: 0 auto;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  overflow: hidden;

  .nav-item {
    width: 33.33333%;
  }

  .nav-link {
    background-color: transparent;
    border-radius: 0;
    padding: 17px 0;
    color: $white;
    width: 100%;
    font-size: 17px;
    letter-spacing: 0.8px;
    font-weight: $font-weight-medium;
    position: relative;
    transition: 0.3s ease-in-out !important;
    text-align: center;
    z-index: 0;

    &::before {
      content: "";
      position: absolute;
      width: 0;
      height: 100%;
      background: $linear-gradient-background;
      top: 0;
      left: 0;
      z-index: -1;
      transition: 0.3s ease-in-out !important;
    }

    &.active::before {
      width: 100% !important;
    }

    &.active {
      border: 1px solid rgba(255, 255, 255, 1);
    }
  }

  #projects-tabs-tab-first {
    border: $border-light;
    border-radius: 55px 0px 0px 55px;
  }

  #projects-tabs-tab-second {
    border-top: $border-light;
    border-bottom: $border-light;
  }

  #projects-tabs-tab-third {
    border: $border-light;
    border-radius: 0 55px 55px 0;
  }
}

/* Projects Content CSS */
.proj-imgbx {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 24px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  a {
    color: rgba(255, 255, 255, 1);
    font-size: large;
  }

  &::before {
    content: "";
    background: $linear-gradient-background;
    opacity: 0.85;
    position: absolute;
    width: 100%;
    height: 0;
    transition: 0.4s ease-in-out;
  }

  &:hover {
    &::before {
      height: 100%;
    }

    .proj-txtx {
      top: 50%;
      opacity: 1;
    }
  }
}

.proj-txtx {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;

  h4 {
    text-align: center;
    align-items: center;
    font-size: 30px;
    font-weight: $font-weight-bold;
    letter-spacing: 0.8px;
    line-height: 1.1em;
  }

  span {
    font-style: italic;
    font-weight: $font-weight-book;
    font-size: 15px;
    letter-spacing: 0.8px;
  }
}

/* Contact CSS */

.contact {
  background: $linear-gradient-background;
  padding: 60px 0 40px 0;
  margin-top: 2.5em;

  .contact-form {
    text-align: center;
  }

  img {
    width: 88%;
    margin-bottom: 2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  h2 {
    font-size: 45px;
    font-weight: $font-weight-bold;
    margin-bottom: 30px;
  }

  form {
    input,
    textarea {
      width: 100%;
      background: rgba(255, 255, 255, 0.1);
      border: $border-light;
      border-radius: 20px;
      color: $white;
      margin: 0 0 8px 0;
      padding: 18px 26px;
      font-weight: $font-weight-medium;
      font-size: 18px;
      letter-spacing: 0.8px;
      transition: 0.3s ease-in-out;

      &:focus {
        background: rgba(255, 255, 255, 1);
        color: $background-color;
      }

      &::placeholder {
        font-size: 16px;
        font-weight: $font-weight-book;
        color: $white;

        &:focus {
          color: $background-color;
          opacity: 0.8;
        }
      }
    }

    button {
      font-weight: $font-weight-bold;
      color: $black;
      border: 1px solid $white;
      background-color: $white;
      padding: 14px 48px;
      font-size: 18px;
      margin-top: 25px;
      margin-bottom: 25px;
      border-radius: 0;
      position: relative;
      transition: 0.3s ease-in-out;

      span {
        z-index: 1;
        position: relative;
      }

      &:hover {
        color: $white;
      }

      &::before {
        content: "";
        background: $background-color;
        width: 0;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        transition: 0.3s ease-in-out;
      }

      &:hover::before {
        width: 100%;
      }
    }
  }

  .dm-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

/* Footer CSS */
.footer {
  padding: 3em 0 3em 0;
  
  img {
    width: 26%;
  }
  
  p {
    font-weight: $font-weight-book;
    font-size: 14px;
    color: #b8b8b8;
    letter-spacing: 0.5px;
    margin-top: 20px;
  }
  
  .footer-logo {
    margin-bottom: 1em;
  }
}
  